@model Restaurant.Models.News.NewsModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

    <div class="admin_container">
        <span>@Model.Description</span>
        @Html.Raw("<img class=\"image_news\"' src=\"data:image/jpeg;base64,"
                        + Convert.ToBase64String(Model.Image) + "\" />")
        @using (Html.BeginForm("Delete", "AdminNews", FormMethod.Post))
        {
            <button name="action" value="delete" asp-route-id="@Model.Id">Удалить</button>
            <button name="action" value="cancel">Отмена</button>
        }
    </div>


