@{
    ViewData["Title"] = "SkyLounge";
}
<section class="preview">
    <h1 class="preview_h1">
        Ресторан на крыше пятизвездочного отеля
        <br>Sheraton-Ufa
    </h1>
    <div class="vensel_white"></div>
    <div class="preview_containerButton">
        <input type="submit" class="black_button" asp-area="" asp-controller="Booking" asp-action="Create" value="Забронировать столик" />
        <button class="black_button preview_buttolLeft">Перейти к меню</button>
    </div>
</section>
<section class="about">
    <div class="about_container">
        <h2 class="about_title">Добро пожаловать</h2>
        <img src="~/images/vensel.png" alt="" class="about_vensel">
        <span class="about_description">
            Мы хотим познакомить Вас ближе с нашим шеф-поваром, его творениями и влюбить Вас в наш ресторан ещё больше! Только на Chef’s Table можно оказаться лицом к лицу с шеф-поваром Иваном Ивановым, а также стать свидетелем того, как рождается авторская кухня, ну, или просто расслабиться и наслаждаться едой и напитками.

            Так что же ждет вас в нашем ресторане с Иваном Ивановым?
                <br>Вы окажетесь на профессиональной кухне ресторана;
                <br>Шеф-повар будет готовить специально для вас блюда, начиная с закуски и заканчивая десертом;
                <br>Вы узнаете секреты приготовления тех блюд, которые вы любите заказывать по меню ресторана;
                <br>Вы весело проведете время в кругу близких людей.
        </span>
        <img src="~/images/cook.png" alt="" class="about_cook">
    </div>
    <img src="~/images/dish.png" alt="" class="about_dish">
</section>
<section class="banquets">
    <div class="banquets_description">
        <h2>Банкеты и свадьбы</h2>
        <div class="vensel_white banquets_vensel"></div>
        <span class="banquets_text">
            Свадебный банкет – это особая часть торжества, которая отражает значимость события, а также Ваш статус.

            От качества организации банкета зависит успех свадьбы в целом, ведь за столом мы проводим большую часть праздника!

            Именно в ресторане Sky Lounge вы можете устроить праздник своей мечты. Ресторан Sky Lounge приглашает провести праздник в изысканной и роскошной атмосфере, зажигающей звезду удачи на ближайшие 365 дней.
        </span>
    </div>
</section>
<section class="offer">
    <img src="~/images/offer.jpg" alt="" class="offer_img">
    <div class="offer_container">
        <h2 class="offer_title">Согревающее предложение</h2>
        <img src="assets/images/vensel.png" alt="" class="about_vensel">
        <ul class=offer_ul>
            <li class="offer_li">
                <div>
                    <span class="offer_title">Брусничный чай с цитрусом</span>
                    <span class="offer_price">250р</span>
                </div>
                <span class="offer_description">Горячий чай «Эрл Грей» с брусникой с добавлением лемонграсса, апельсина и лимона</span>
            </li>
            <li class="offer_li">
                <div>
                    <span class="offer_title">Брусничный чай с цитрусом</span>
                    <span class="offer_price">250р</span>
                </div>
                <span class="offer_description">Горячий чай «Эрл Грей» с брусникой с добавлением лемонграсса, апельсина и лимона</span>
            </li>
            <li class="offer_li">
                <div>
                    <span class="offer_title">Брусничный чай с цитрусом</span>
                    <span class="offer_price">250р</span>
                </div>
                <span class="offer_description">Горячий чай «Эрл Грей» с брусникой с добавлением лемонграсса, апельсина и лимона</span>
            </li>
            <li class="offer_li">
                <div>
                    <span class="offer_title">Брусничный чай с цитрусом</span>
                    <span class="offer_price">250р</span>
                </div>
                <span class="offer_description">Горячий чай «Эрл Грей» с брусникой с добавлением лемонграсса, апельсина и лимона</span>
            </li>
            <li class="offer_li">
                <div>
                    <span class="offer_title">Брусничный чай с цитрусом</span>
                    <span class="offer_price">250р</span>
                </div>
                <span class="offer_description">Горячий чай «Эрл Грей» с брусникой с добавлением лемонграсса, апельсина и лимона</span>
            </li>
        </ul>
    </div>
</section>
<section class="birthday">
    <div class="birthday_description">
        <h2>Дни рожнения</h2>
        <div class="vensel_white birthday_vensel"></div>
        <span class="birthday_text">
            Ожидание необыкновенного праздника в свой День Рождения с возрастом не теряет актуальности, и в глубине души даже взрослым и состоявшимся людям хочется в этот день чего-то особенного.

            Торжество, проведенное в нашем ресторане, подарит вам эмоции и впечатления, которые окрасят весь следующий год приятными воспоминаниями.

            Также для виновников торжества действует 15% скидка в день рождения и 6 дней после дня рождения, при предъявлении документа.
        </span>
    </div>
</section>