@model Restaurant.Models.Menu.TypeMenu

@{
    ViewData["Title"] = "EditType";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div class="editGroup">
    <div>
        <h2 class="admin_h2">@Model.Name</h2>
        <form asp-action="EditType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
        <form asp-action="DeleteType" method="get">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" />
        </form>
    </div>
    <div>
        <p>
            <a asp-action="CreateCategory" asp-route-typeId="@Model.Id">Create New</a>
        </p>
        @await Html.PartialAsync("_Categories")
    </div>
</div>