@model IEnumerable<Restaurant.Models.Menu.TypeMenu>

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

    <div>
        <p>
            <a asp-action="CreateType">Create New</a>
        </p>
        <table class="admin-menu">
            <tr>
                <th>Название</th>
                <th></th>
                <th></th>
            </tr>
            <tr></tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td class="edit"><a asp-action="EditType" asp-route-id="@item.Id" class="form_a"></a></td>
                    <td class="delete"><a asp-action="DeleteType" asp-route-id="@item.Id" method="delete" class="form_a"></a></td>
                </tr>
            }
        </table>
    </div>