/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: "Monsterrat";
    src: url("../fonts/Mosterrat.ttf");
}

header {
    display: inline-flex;
    background-color: #45322e;
    width: 100%;
    height: 3.75vw;
    position:fixed;
    z-index:1;
}

.navigation {
    align-self: center;
    margin-left: auto;
    margin-right: 12.5vw;
}

    .navigation ul {
        display: inline-flex;
        padding: 0;
    }

    .navigation li {
        list-style-type: none;
        margin-left: 3.125vw;
    }

        .navigation li a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 1.125vw;
        }

body {
    max-width: 1920px;
    font-family: Monsterrat;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
}

input {
    font-size: 1.5vw;
}

select{
    font-size: 1.5vw;
}

button{
    font-size:1.5vw;
}

h1 {
    font-size: 4.375vw;
    align-self: center;
    color: white;
}

h2 {
    font-size: 2.5vw;
    color: #cc9900;
}

li {
    list-style: none;
}

span {
    font-size: 1.5vw;
}


.vensel_white {
    background: url(../images/vensel_white.png);
    width: 45%;
    height: initial;
    background-repeat: no-repeat;
    background-position: center;
}

.vensel {
    background: url(../images/vensel.png);
    width: 45%;
    height: 5%;
    background-repeat: no-repeat;
    background-position: center;
}

.black_button {
    height: 3.75vw;
    width: 14.375vw;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px grey;
    color: white;
    font-size: 1.125vw;
    font-weight: bold;
}


section {
    width:100%;
    height: 100vh;
}

.preview {
    margin-top: 3.75vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 1.875vw;
    height: 96.0625vh;
    background: url(../images/background-1.png), rgba(0, 0, 0, 0.4);
    background-blend-mode: color-dodge;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    .preview .preview_h1 {
        margin-bottom: 0;
        text-align: center;
        margin-top: auto;
    }

    .preview .preview_buttolLeft {
        margin-left: 1.875vw;
    }

    .preview_containerButton{
        display: none;
    }

.about {
    display: grid;
    text-align: -webkit-center;
    grid-template-columns: 1fr 1fr;
    background: url(../images/background-2.png);
    background-repeat: repeat;
}

    .about .about_container {
        margin-left: 2.5vw;
        display: grid;
    }

    .about .about_description ul {
        text-align: left;
    }

    .about .about_dish {
        width: 56.25vw;
        align-self: center;
    }

.banquets {
    background: url(../images/background-3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

    .banquets .banquets_description {
        margin-left: 50.9375vw;
        width: 26.875vw;
        height: 34.8125vw;
        align-self: center;
        background: black;
        opacity: 0.6;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 4.375vw;
    }

        .banquets .banquets_description h2 {
            color: white;
            margin-top: 2.8125vw;
        }

        .banquets .banquets_description .banquets_vensel {
            height: 2vw;
            background-size: contain;
            margin-top: 0.9375vw;
        }

        .banquets .banquets_description .banquets_text {
            margin-top: 1.875vw;
            color: white;
            text-align: center;
        }

.offer {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

    .offer .offer_img {
        height: 100vh;
        grid-row: 1/-1;
    }

    .offer .offer_container {
        margin-top: 1.25vw;
        align-self: flex-start;
        display: grid;
        place-items: center;
    }

        .offer .offer_container .offer_ul {
            list-style: none;
            font-size: 1.3125vw;
            margin: auto 7.5vw;
            padding: 0;
        }

            .offer .offer_container .offer_ul .offer_title {
                margin-left: 0;
            }

            .offer .offer_container .offer_ul .offer_price {
                margin-left: auto;
            }

            .offer .offer_container .offer_ul .offer_description {
                text-align: center;
            }

        .offer .offer_container .offer_li {
            display: grid;
            margin-top: 2.5vw;
        }

            .offer .offer_container .offer_li div {
                border-bottom: 0.125vw solid;
                display: grid;
                grid-template-columns: 2fr 1fr;
                color: #cc9900;
            }

.birthday {
    background: url(../images/background-4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

    .birthday .birthday_description {
        margin-left: 10vw;
        width: 26.875vw;
        height: 34.8125vw;
        align-self: center;
        background: black;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 4.375vw;
    }

        .birthday .birthday_description h2 {
            color: white;
            margin-top: 2.8125vw;
        }

        .birthday .birthday_description .birthday_vensel {
            height: 2vw;
            background-size: contain;
            margin-top: 0.9375vw;
        }

        .birthday .birthday_description .birthday_text {
            margin-top: 1.875vw;
            color: white;
            text-align: center;
        }

footer {
    background: #45322e;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2.5vw 3.125vw 2.5vw 3.125vw;
    color: white;
    margin-top: auto;
}

    footer .footer_container {
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 1fr 2fr;
        justify-items: center;
        align-items: center;
    }

    footer .footer_h3 {
        font-size: 1.5625vw;
        margin: 0;
    }

    footer .footer_vensel {
        height: 2.1875vw;
        margin-top: 0.625vw;
        background-size: contain;
    }

    footer .footer_description ul {
        padding: 0;
        margin: 0;
    }


.offer .offer_img {
    height: 100vh;
    grid-row: 1/-1;
}

.offer .offer_container {
    margin-top: 1.25vw;
    align-self: flex-start;
    display: grid;
    place-items: center;
}


.menu {
    align-self: flex-start;
    text-align: center;
    height: auto;
}

.menu_top {
    margin-top: 3.75vw;
    width: 100%;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

    .menu_top ul {
        display: inline-flex;
        margin: 0 auto;
        height:1.5em;
        margin-left: 7.5vw;
        padding: 0;
    }

    .menu_top li:first{
        margin-left: 0;
    }

    .menu_top li{
        margin-left: 1em;
    }

    .menu_top li:hover {
        border-bottom: 4px #cc9900 solid;
    }

    .menu_top a:hover {
        color: #cc9900;
    }

    .menu_top a {
        text-decoration: none;
        color: #45322e;
        font-weight: bold;
        font-size: 1.125vw;
    }

        .menu_aside {
            background: red;
        }

.menu_aside {
    text-align: left;
}

    .menu_aside a {
        font-size: 2.5vw;
        color: #cc9900;
        text-decoration: none;
    }

.menu_container {
    margin-top: 1.25vw;
    margin-bottom: 3vw;
    margin-bottom: 1em;
}

.menu .menu_ul {
    font-size: 1.3125vw;
    margin: auto 7.5vw;
    padding: 0;
    justify-self: center;
}

    .menu .menu_ul .menu_title {
        margin-left: 0;
        text-align: left;
    }

    .menu .menu_ul .menu_weight {
        margin-left: auto;
    }

    .menu .menu_ul .menu_description {
        text-align: center;
    }

.menu .menu_li {
    display: grid;
    margin-top: 2.5vw;
}

    .menu .menu_li div {
        border-bottom: 0.125vw solid;
        display: grid;
        grid-template-columns: 8fr 1fr 1fr;
        color: #cc9900;
    }

.admin-menu {
    width: 80%;
    text-align: center;
    align-self: center;
    border-spacing: 30px 2px;
}

.editGroup .admin-menu{
    width: auto;
}

    .admin-menu p {
        margin-left: 1em;
    }

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.text-danger {
    color: red;
}

.admin-edit {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 1.5vw;
}

.editCategory {
    margin: auto 2em;
    margin-bottom:0;
}

form {
    display: inline-grid;
    width: 100%;
}

    form div {
        display: inline-grid;
    }

.edit {
    width: 20px;
    height: 20px;
    background: url(../images/pen.ico);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
}

.editGroup {
    grid-template-columns: 1fr 2fr;
    display: grid;
    grid-column-gap: 2em;
    margin: 3.75vw 4vw auto 4vw;}

.form_a {
    width: 100%;
    height: 100%;
    display: block;
}

.delete {
    width: 20px;
    height: 20px;
    background: url(../images/trash.ico);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
}

.admin_h2 {
    text-align: center;
}

.admin_container {
    width: 60%;
    justify-self: center;
    margin-top: 3.75vw;
    display: inline-grid;
    align-self: center;
}

.admin_container img{

}

.form-group {
    margin-bottom: 2%;
}

.content {
    height: max-content;
}

.delete_container {
    display: grid;
    align-self: center;
    justify-items: center;
}

.account {
    width: 60%;
    align-self: center;
}

.container_news {
    display: grid;
    justify-items: center;
    margin-top: 3.75vw;
}

.news {
    margin: 1em auto;
    width: 60%;
    display: grid;
    place-items: center;
    border-bottom: groove;
}

    .image_news {
        width: 60vw;
    }

    .news p{
        margin-bottom:0;
        justify-self: left;
    }

.container_description{
    width: 100%;
    display: grid;
    grid-template-columns: 15fr 1fr 1fr;
}

textarea{
    font-size: 1.5vw;
}

.edit_container{
    margin-top: 3.75vw;
    width: 80%;
    align-self: center;
}