<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkyLounge</title>

    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <header>
        <nav class="navigation">
            <ul>
                <li><a asp-area="" asp-controller="Admin" asp-action="Menu">Меню</a></li>
                <li><a asp-area="" asp-controller="Admin" asp-action="News">Новости</a></li>
            </ul>
        </nav>
    </header>
    @RenderBody()

    @await Html.PartialAsync("_Footer")
</body>
</html>
