@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <footer>
        <div class="footer_about footer_container">
            <h3 class="footer_h3">О нас</h3>
            <div class="vensel_white footer_vensel"></div>
            <span class="footer_description">SkyLounge – видовой ресторан современной кухни, любимец уфимской публики.</span>
        </div>
        <div class="footer_hour footer_container">
            <h3 class="footer_h3">Время работы</h3>
            <div class="vensel_white footer_vensel"></div>
            <span class="footer_description">
                Ежедневно <br>
                12:00-02:00
            </span>
        </div>
        <div class="footer_location footer_container">
            <h3 class="footer_h3">Контакты</h3>
            <div class="vensel_white footer_vensel"></div>
            <span class="footer_description">
                Адрес: г. Уфа, ул.Цюрупы, 7<br>
                Телефон: +7 (347) 285-01-40<br>
                E-mail: info@skylounge-ufa.ru<br>
            </span>
        </div>
    </footer>